body{
    font-family: 'Playfair Display SC', serif;
    background-color:#283845;
}
.navbar-brand{
    font-size: 2em;
    color:#595A4A;
    
}
.navbar{
    font-size: 2em;
    background: rgb(242,212,146);
    